certifi==2020.6.20
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
MarkupSafe==1.1.1
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1596215850360/work
pandas @ file:///C:/ci/pandas_1598371563714/work
python-dateutil==2.8.1
pytz==2020.1
regex @ file:///C:/ci/regex_1596811715751/work
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scipy @ file:///C:/ci/scipy_1592916963468/work
six==1.15.0
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tqdm @ file:///tmp/build/80754af9/tqdm_1596810128862/work
Werkzeug==1.0.1
wincertstore==0.2
